-# If a new model was added, add a model box for it to the canvas
- if @added_model
  = add_model_panel(@added_model)
  = init_draggables

-#Update the source and destination model, highlight the new association
- @query.models.each do |model|
  = update_model_panel(model)

= redraw_connections
= resize_canvas

= render :partial => 'dynamic_queries/update_generated_sql'
